a {
    color: #61ADA3;
}
a:hover, a:focus {
    color: #619DA8;
}
.qa-logo-link, .qa-logo-link:hover, .qa-logo-link:focus  {
    color: #FFFFFF;
}
.user-nav {
   background-color:#2C001E;
}
.qa-nav-user-item:hover{
   background-color:#460030
}
.dropdown .activitylist {
    color:#FFFFFF;
}
.dropdown .activitylist:hover{
    background-color: #460030;
}
.dropdown .activitylist:focus{
    color: #222222;
}

.nav-main {
    background-color: #DE4508;
}
.qa-nav-main-single-item, .qa-nav-main-single-item-opp{
	border-left: 1px solid #C73F08;
}
.qa-nav-main-single-item:hover, .qa-nav-main-single-item-opp:hover{
	background-color: #C73F08;
}
.qa-nav-main-list > li > a,.qa-nav-main-list > li > a:hover{
	color: #FFFFFF;
}
.sub-navbar {
	border: 1px solid #EEEEEE;
    border-radius: 5px;
}
.qa-nav-sub-list > li {
    background-color: transparent;
    text-decoration: none;
}
.qa-nav-sub-list:hover > li  {
    background-color: transparent;
	-moz-transition:all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
	-o-transition:all ease-in-out 0.2s;
	-ms-transition:all ease-in-out 0.2s;
	transition:all ease-in-out 0.2s;	
}
.qa-nav-sub-list > li:hover  {
    background-color: #EEEEEE !important;
}
.qa-nav-sub-list > .qa-nav-sub-selected{
	background-color: #EEEEEE;
}
.qa-nav-sub-link {
    border-right: 1px solid #EEEEEE;
	color:#444444;
	text-transform: uppercase;
}
.qa-nav-sub-link:hover {
	color:#DE4508;
}

.qa-main > h1 {
    color: #444444;
	font-weight: bold;
}
.qa-q-item-title a {
    color: #444444;
}
